footer 
{
    background-color: #F3F3F3;
    height: 80px;
    width: 100%; 
    list-style-type: none;
	color: #333333;
	font-family: Proxima Nova;
	font-size: 16px;
	font-variant: normal;
	font-weight: lighter;
	width: 100%;
	position: relative;
}
body
{
	margin-top: 150px;
	margin-left: 80px;
}
label {
    width:100px;
    clear:left;
    text-align:left;
    padding-right:2px;
}
input:focus{
	background-color: #F2F5A9;
}

input, label {
    float:left;
}
footer 
{
    background-color: #F3F3F3;
    margin-top:250px;
    height: 80px;
    width: 100%; 
    list-style-type: none;
	color: #333333;
	font-family: Proxima Nova;
	font-size: 16px;
	font-variant: normal;
	font-weight: lighter;
	width: 100%;
	position: relative;
}